header{
	h1{
		font-family: 'comic_neue_angularbold', serif;
		text-transform: uppercase;
		text-align: center;
		background:url('../images/HeyLisaBanner.jpg') no-repeat top center;
		text-indent: -9999px;
		background-size:auto 100%;
		padding-bottom:20%;
	}
}