@import 'normalize';
@import 'fonts';
@import 'header';
@import 'landing';

body{
	font-family: 'Cabin', serif;
	font-weight: 400;
	background:#dfe144
}

.container{
	max-width: 1200px;
	margin:0 auto;
}

ul{
	padding:0;
	margin:0;
}